.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
}

.main__title{
    color: var(--color-icon);
    font-weight: 600;
    line-height: 24px;
}

.main__logo{
    margin-inline: 17px;
    width: 50%;
    height: 50%;
}

@media (min-width: 576px){
    .main__logo{
        width: 374px;
        height: auto;
    }
}