/* GLOBAL SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{

  /* color de fondo o de tarjetas */
  --bg-card-dark: #ECBC4C;
  --bg-card-light: #FAE5B4;
  --bg-card-alt: #38614C;

  /* color de fuente */
  --color-main: #ECBC4C;
  --font-light: #FEF7FF;
  --font-dark: #000000;
  --font-alt: #38614C;

  /* color de placeholder */
  --color-placeholder: #49454F;

  /* tipografia */
  --font-family-main: 'Roboto', sans-serif;
  --font-family-alt: 'Roboto-Slab', sans-serif;

  /* tamaño de fuente */
  --size-h1: 25px;
  --size-p: 16px;
  --size-pxs: 10px;
  --size-ps: 14px;
  --size-pl: 18px;
  --size-pxl:22px;

}

html{
  /* reset*/
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

body{
  /* margen generales para toda página */
  margin: 20px;
}

/* prueba para ver que tome las variables usando el HELLO WORLD*/
h1{
  font-family: var(--font-family-alt);
  color: var(--font-alt);
}