.btn-container {
    width: 100%;
    height: 55px;
    margin-block: 16px;
    display: flex;
}

.btn-field{
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-family: var(--font-family-main);
    font-size: var(--size-pl);
    color: var(--color-placeholder);
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--bg-card-dark);
}

.btn-field:hover{
    background-color: var(--bg-card-light);
    color: var(--font-dark);
}

@media (min-width: 576px) {
    .btn-container{
        width: 328px;
    }    
}