.nav-header{
    width: 100%;
    margin: -20px -20px 0 -20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    padding-block: 12px;
    background-image: linear-gradient(
        90deg,
        hsl(0deg 0% 100%) 50%,
        hsl(37deg 100% 96%) 70%,
        hsl(37deg 99% 92%) 73%,
        hsl(37deg 96% 88%) 76%,
        hsl(38deg 93% 84%) 78%,
        hsl(39deg 90% 80%) 81%,
        hsl(40deg 88% 75%) 85%,
        hsl(40deg 85% 71%) 89%,
        hsl(41deg 83% 66%) 94%,
        hsl(42deg 81% 61%) 100%
    )
}

.nav-header__left, .nav-header__right{
    text-align: center;
    align-items: center;
    display: flex;
    gap: 12px;
    
}

.nav-header__left{
    justify-content: first baseline;
}

.nav-header__right{
    justify-content: space-evenly;
}

.nav-header__iconBack{
    width: 10px;
    position: relative;
    top: 1px;
}

.nav-header__button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.nav-header__button:hover{
    scale: 120%;
}

.nav-header__title{
    color: var(--color-icon);
    font-size: 25px;
    font-family: var(--font-family-alt);
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: center;
}

.nav-header__button--back{
    background-color: #F6C648;
    border-radius: 50%;
}