.configCards{
background-color: white;
border-radius: 12px;
padding-inline: 26px;
margin-block: 22px;
margin-bottom: 22px;
box-shadow: 0px 1px 3px 1px #00000026;
box-shadow: 0px 1px 2px 0px #0000004D;
}

.configCards__title{
    font-family: var(--font-family-alt);
    font-size: 18px;
    color: var(--font-dark);
    line-height: 20px;
    letter-spacing: 0.25px;
    margin-block: 15px;
    font-weight: 500;
}

/* Toogle Switch */
.switchBtn {
    position: relative;
    width: 50px;
    height: 34px;
}

.switchBtn input {display:none;}
.slide {
    position: absolute;
    cursor: pointer;
    top: 11px;
    left: 8px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    height: 10px;
}

.slide:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    top: -8px;
    background-color: rgba(96, 96, 96, 1);
    -webkit-transition: .4s;
    transition: .4s;
    color: grey;
}

input:checked + .slide {
    background-color: rgba(236, 188, 76, 1);
}

input:checked + .slide:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    left: 0px;
}

.slide.round {
    border-radius: 34px;
    margin-block: 2px;
}

.slide.round:before {
    border-radius: 50%;
}



.empty{
    height: 100px;
}

